body {
  font-family: "Raleway", sans-serif;

  display: grid;
  grid-template-columns: 25vw 2em auto 2em 25vw;
  grid-template-rows: 25vh 50vh 25vh;
}

a {
  text-decoration: none;
  color: inherit;

}

a:visited{
  color: inherit;
}

h1 {
  font-size: 2em;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

p {
  margin: 0.2em;
  font-family: 'Noto Serif TC'
}

h1:hover {
  font-weight: 800;
}

.para {
  grid-row-start: 2;
  grid-column-start: 2;
  width: 50vw;
  height: 50vh;

  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  background-color: white;

  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
}

.active {
  opacity: 1;
  z-index: 1000;
}

.btn:hover{
  font-weight: 800;
}



#about {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

#works {
  grid-row-start: 1;
  grid-column-start: 4;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;

}

#contact {
  grid-row-start: 3;
  grid-column-start: 4;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  /* color: #ff9696; */
  color:red;
}

#year {
  font-size: 2em;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

#year:hover {
  font-weight: lighter;
}

.gif {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 5;
  width: 50vw;
  height: 50vh;
  background-color: blue;
  background-image: url(spread.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  opacity: 0.05;
  transition-property: opacity, filter;
  transition-duration: 1s;
}

.gif:hover {
  opacity: 1;
  filter: none;
}

.btn-col{
  opacity: .1;
}
