.About, .Contact, .Project {
  text-align: center;
  display: grid;
  grid-template-columns: 75vw;
  grid-template-rows: 100vh;
  overflow: hidden;
}

.para {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-self: center;
  text-align: left;
  flex-direction: column;
  padding: 0 20%;
}

span, a {
  font-style: italic;
  color: blue;
  text-decoration: none;
}

.para h1 {
  margin-bottom: 2vh;
}
