.About, .Contact,  {
  text-align: center;
  display: grid;
  grid-template-columns: 75vw;
  grid-template-rows: 100vh;

}

.aboutText {
  height: 100%;
  width: 50vw;
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  padding: 30vh 15vw;

}

span, a {
  font-style: italic;
  color: blue;
  text-decoration: none;
}

.para h1 {
  margin-bottom: 2vh;
}
