.App {
  text-align: center;
  display: grid;
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 100vh;
  overflow: hidden;
}

:hover {
  cursor: url("./cursor.png"), pointer;
}

/* style */
h1 {
  -webkit-text-stroke: .3px black;
  color: transparent;
  font-weight: 600;
  font-style: italic;
  line-height: 80%;
  font-size: 3vw;
  margin: 0;
  text-align: left;
}

.menu h1:hover {
  color: black;
  transition: 0.5s;
}

.menu a {
  text-decoration: none;
  -webkit-text-stroke: .3px black;
  color: transparent;
}

.menu a:hover {
  color: black;
  transition: 0.5s;
}

.active h1 {
  color: black;
}

h2 {
  font-size: 3vw;
  margin: 0;
}

p {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 0 5% 0 0;
  color: black;
  /* text-transform: uppercase; */
  line-height: 1.5em;
}

/* component */
.menu {
  grid-column: 2;
  grid-row: 1;
  padding: 5% 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.content {
  grid-column: 1;
  grid-row-start: 1;
}

.titles {
  /* grid-row: 2;
  grid-column-start: 2; */
  text-align: left;
  margin: 0;
  overflow: scroll;
  /* padding:10vh 0; */
  width: 100%;
}


/* anim */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
