.Homepage {
  
  position:absolute;
  margin: 18vh 15vw;
  width: 63vw;
  height: 62vh;
  overflow: hidden;
  /*background: white;*/
  background-image: url("https://user-images.githubusercontent.com/15258799/57022768-4612bb80-6c5a-11e9-820d-9f0532f92303.gif");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left center;
}

/* components */
